@font-face {
    font-family: 'a_AlbionicExp';
    src:url('../FONTS/aalbionicexp_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: #f7f7f7;
}

.tabloid {
    width: 100%;
    height: 450px;
    position: absolute;
    border-bottom: 20px #ffffff;
    background: url("../IMG/background.png");
}

.header  {
    width:100%;
    height: 45px;
    position: fixed;
    background-color: #454b47;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-family: 'a_AlbionicExp', serif;
    overflow: hidden;
}

.header > form {
    float: left;
}

.footer {
    width:100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: #292929;
    z-index: 10;
    color: #ffffff;
    text-align: right;
    vertical-align: middle;
}

.content {
    width: 1200px;
    margin: auto;
}

.whiteShadow{
    width: 100%;
    height: 100px;
    bottom: 0;
    margin: auto;
    position: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 10%, rgba(209, 209, 209, 0.90), rgb(203, 203, 203));
}

#mainLayer  {
    width: 1200px;
    position: absolute;
    margin-top: 90px;
    padding-bottom: 50px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 550px;
    height: 200px;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

.flex-item {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background-color: cornflowerblue;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
    width: 500px;
    margin: 0px;
    text-align: center;
    font-size: 1.7em;
    position: relative;
    border-radius: 150px;
    opacity: 0.5;
}

.flex-item:first-child {
    background-color: #730653;
}

.flex-item:nth-child(2) {
    background-color: #d182b8;
}

.flex-item:nth-child(3) {
    background-color: #f7f7f7;
}

.menuLine {
    width: 100%;
    height: 50px;
    margin-top: 45px;
    background-color: #dfdfdf;
    text-align: right;
    position: absolute;
}

.menuLineBrick {
    vertical-align: middle;
    background-color: #dfdfdf;
    width: 1200px;
    height: 50px;
    margin-top: 45px;
    text-align: right;
    position: absolute;
}

.menuLineBrick > * {
    display: inline-block;
}

.searchMenu {
    background: #454b47;
    position: absolute;
    margin-top: 45px;
    height: 50px;
}

#menuBrick {
    width:40%;
}

#searchMenuSkewBrick {
    margin-left: 250px;
    width:250px;
    -ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-40deg); /* Safari */
    transform: skew(-40deg);
}

#searchMenuBrick {
    width:300px;
}

#pagename {
    text-align: center;
    width: 300px;
    height: 50px;
}

#note {
    color: #520300;
    text-align: center;
    text-shadow: #ffffff 2px 0px 1px, #ffffff 2px 2px 1px, #ffffff 2px 0px 1px, #ffffff 0px -2px 1px, #ffffff -2px 0px 1px;
    font-size: 2.5em;
    width: 500px;
    height: 90px;
    position: absolute;
    margin-top: -150px;
    margin-left: 350px;
    font-family: "a_AlbionicExp";
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@-webkit-keyframes animation {
    0%   {
        opacity: 1;
    }
    15%   {
        opacity: 0.75;
    }
    25%   {
        opacity: 0.5;
    }
    35%   {
        opacity: 0.25;
    }
    50% {
        opacity: 0;
    }
    65%   {
        opacity: 0.25;
    }
    75%   {
        opacity: 0.5;
    }
    85%   {
        opacity: 0.75;
    }
    100%   {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes animation {
    0%   {
        opacity: 1;
    }
    15%   {
        opacity: 0.75;
    }
    25%   {
        opacity: 0.5;
    }
    35%   {
        opacity: 0.25;
    }
    50% {
        opacity: 0;
    }
    65%   {
        opacity: 0.25;
    }
    75%   {
        opacity: 0.5;
    }
    85%   {
        opacity: 0.75;
    }
    100%   {
        opacity: 1;
    }
}

#table {
    position: absolute;
    margin-left: 150px;
    width: 610px;
    height: 110px;
    display: inline-table;
    webkit-column-count:3;
    -moz-column-count:3;
}

#table > .td {
    border-radius: 90px;
    display: inline-table;
    width: 200px;
    height: 100px;
}

#table > .td:hover {
    box-shadow: #faf8ff 2px 2px 10px;
}

#table > .td:first-child {
    background: url(../IMG/4.jpg) no-repeat;
    background-size: 100%;
}

#table > .td:nth-child(2)  {
    background: url(../IMG/5.jpg) no-repeat;
    background-size: 100%;
}

#table > .td:nth-child(3)  {
    background: url(../IMG/6.jpg) no-repeat;
    background-size: 100%;
}

.button {
    margin-left: 10px;
    position: absolute;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.5em;
    font-family: "Arial", "sans-serif";
    background-color: #454b47;
}

.button:hover {
    animation-name: buttonHover;
    animation-duration: 0.5s;
    border: 1px #555a55 solid;
    color: #555a55;
    background-color: #ffffff;
}

@-webkit-keyframes buttonHover {
    0%   {
        border: 1px #f6fdfd solid;
        color: #f6fdfd;
        background-color: #555a55;
    }
    25%   {
        border: 1px #959e95 solid;
        color: #98a198;
        background-color: #acacac;
    }
    100% {
        border: 1px #555a55 solid;
        color: #555a55;
        background-color: #ffffff;
    }
}

/* Standard syntax */
@keyframes buttonHover {
    0%   {
        border: 1px #f6fdfd solid;
        color: #f6fdfd;
        background-color: #555a55;
    }
    25%   {
        border: 1px #959e95 solid;
        color: #98a198;
        background-color: #acacac;
    }
    100% {
        border: 1px #555a55 solid;
        color: #555a55;
        background-color: #ffffff;
    }
}

#search {
    color: #7c7c7c;
}

.text {
    position: relative;
    color: #eaf1f1;
    width: 500px;
    font-family: "a_AlbionicExp";
    height: 100px;
    font-size: 1.15em;
    margin-top: 10px;
    margin-left: 20px;
    text-align: justify;
    word-wrap: break-word;
    overflow: auto;
}

.text > div {
    position: absolute;
    opacity: 0;
}

.text > div:first-child {
    animation-name: slowDownFirst;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.text > div:nth-child(2) {
    animation-name: slowDownSecond;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.text > div:nth-child(3) {
    animation-name: slowDownThird;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slowDownFirst {
    0%   {
        opacity: 1;
        margin-top: 0px;
        color: #ffffff;
    }
    25%   {
        margin-top: 25px;
        opacity: 0.8;
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

/* Standard syntax */
@keyframes slowDownFirst {
    0%   {
        opacity: 1;
        margin-top: 0px;
        color: #ffffff;
    }
    25%   {
        margin-top: 25px;
        opacity: 0.8;
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

@-webkit-keyframes slowDownSecond {
    25%   {
        opacity: 0;
        color: #ffffff;
    }
    26%   {
        opacity: 1;
        margin-top: 0px;
    }
    50% {
        margin-top: 25px;
        opacity: 0.8;
    }
    75% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

/* Standard syntax */
@keyframes slowDownSecond {
    25%   {
        opacity: 0;
        color: #ffffff;
    }
    26%   {
        opacity: 1;
        margin-top: 0px;
    }
    50% {
        margin-top: 25px;
        opacity: 0.8;
    }
    75% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

@-webkit-keyframes slowDownThird {
    50%   {
        opacity: 0;
        color: #ffffff;
    }
    51%   {
        opacity: 1;
        margin-top: 0px;
    }
    75% {
        margin-top: 25px;
        opacity: 0.8;
    }
    100% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

/* Standard syntax */
@keyframes slowDownThird {
    50%   {
        opacity: 0;
        color: #ffffff;
    }
    51%   {
        opacity: 1;
        margin-top: 0px;
    }
    75% {
        margin-top: 25px;
        opacity: 0.8;
    }
    100% {
        margin-top: 0px;
        opacity: 0;
        color: #3dc3db;
    }
}

input, select {
    border-radius: 5px;
    height: 30px;
    border: 1px #ffffff solid;
}

select {
    background-color: #201b20;
    color: #dddddd;
    font-weight: 500;
}

.block1 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 20px;
}

.block2 {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #4d4d4d;
}

#but1{
    margin-top: 10%;
}

#but2{
    margin-top: 30%;
}

.menuLineBrick #but1{
    margin-top: 5%;
    position: relative;
}

.menuLineBrick #but2{
    margin-top: 5%;
    position: relative;
}

.line {
    display: inline-block;
}

.line:nth-child(2) {
    margin-left: 10%;
}

.under {
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 450px;
    background-color: #090809;
}

.advertisement {
    z-index: 10;
    display: block;
    margin: auto;
    bottom: 30px;
    position: fixed;
    width: 1200px;
    height: 35px;
    background-color: #f1f1f1;
}

.advertisement > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.advertisement > div > div {
    height: 50px;
    background-color: #ffffff;
    width: 400px;
}

.result {
    width: 1200px;
    height: auto;
    background-color: #e4e4e4;
    margin-top: 15px;
}

.result > div {
    height: auto;
    background-color: #ffffff;
    border-bottom: 1px #717171 solid;
    padding: 10px;
    margin-bottom: 5px;
}

.result > div > div:last-child {
    color: darkgrey;
    font-size: 0.9em;
}

.titleName {
    font-size: 1.4em;
    color: #1f52ff;
    font-weight: bold;
}

.up {
    background-color: #730f35;
    width: 50px;
    height: 40px;
    position: fixed;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    opacity: 0.4;
    bottom: 40px;
}

.up:hover {
    opacity: 1;
}

.link {
    text-decoration: underline;
    color: blue;
}

.link:hover {
    text-decoration: none;
    color: #660054;
}

.hide {
    opacity: 0;
}